-----BEGIN PRIVATE KEY-----
# 这是一个示例私钥文件
# 请使用以下命令生成您自己的Ed25519私钥：
# openssl genpkey -algorithm ED25519 -out ed25519-private.pem
# 
# 生成后请将此文件重命名为 ed25519-private.pem
# 并确保将 *.pem 添加到 .gitignore 文件中
# 
# 注意：私钥文件包含敏感信息，请妥善保管，不要提交到版本控制系统
-----END PRIVATE KEY-----